style {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://iconcaptcha.com/captcha/api.js" async defer></script>
    </head>
    <body>
        <app/>
    </body>
</html>