<!doctype html>
<html lang="en">
  <head no-update>
    <meta charset="UTF-8">
    <title>${input.title ? input.title + " | Paper Time" : "Paper Time"}</title>
    <!--<link rel="icon" type="image/png" sizes="32x32" href="./favicon.png"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta
      name="Description"
      content="Paper Time - an open source time tracker."/>
    <script src="https://iconcaptcha.com/captcha/api.js" async defer></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400&family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <body class=input.class>
    <${input.renderBody}/>
  </body>
</html>