import {Localize} from "../../utils/localization.js";

$ const L = Localize(r.strings.login);
ui-linear-layout vertical aligncenter placecenter fullwidth
    @element
        ui-heading light heading=1 -- ${L.login}
    @element
        paper-modal 
            login-form
    @element
        router-link path='/register'
            ui-button rounded -- create new account