import utils from '../utils.js';

ui-container centered paddedwide
    ui-linear-layout vertical fillspace fullwidth gutter="8px"
        @element
            ui-heading heading=1 -- Reports
            ui-spacer
        @element
            report