class {
    onCreate() {
        this.popoutForm = null;
    }

    onMount() {
        this.popoutForm = this.getComponent("login-popout-form");
    }

    toggleVisibility() {
        this.popoutForm.toggleVisibility();
    }
}

popout-form title="Login" key="login-popout-form"
    login-form