widget title=input.title||null subtitle=input.subtitle||null nopadding
    ui-linear-layout.listwidget vertical gutter="0px" rounded
        for|item| of=input.items
            @element paddedwide fillspace alignleft placecenter
                <${input.item.renderBody} data=item/>

