template title=input.title||null
    page-background
    confirmation-dialogue
    app-sidebar currentpage=input.currentpage||input.title||null
    ui-linear-layout.page-wrapper fillspace fullwidth paddedwide
        @element fillspace
            <${input.renderBody}/>
