:root {
    --content-width: 1000px !important;
    --primary: #fff !important;
    --primary-dark: #f1f3f5 !important;
    --secondary: #74c0fc !important;
    --accent-1: #fff !important;
    --tertiary: #66d9e8 !important;
    --text-dark: #495057 !important;
    --text-light: #fff !important;
    --border: #dee2e6 !important;
    --rounded-radius: 5px !important;
    --padding: 8px !important;
    --padding-narrow: 4px !important;
    --padding-wide: 16px !important;
    --text-font: 'Montserrat', sans-serif !important;
    --button-font: 'Montserrat', sans-serif !important;
    --header-font: 'Montserrat', sans-serif !important;
    --font-size-h1: 2.5em !important;
}

::selection {
    background-color: rgba(255, 255, 255, 0.25);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

.page-wrapper {
    max-width: var(--content-width);
}

.ui-textbox, .ui-submit {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--border);
    padding: 15px !important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.ui-textbox:hover, .ui-textbox:focus {
    border-bottom: 1px solid var(--primary-light);
}

.blended {
    background-color: inherit;
    border: none;
    color: inherit;
    font-family: var(--text-font);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    border-radius: 0px;
}